.main__services {
  margin-top: 5rem;
  margin-right: 5rem;
}
.main__services h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 75px;
  letter-spacing: -0.04em;
  color: var(--text-color);
  text-align: left;
}
.card-group {
  margin-right: 2rem;
}
.card {
  margin-top: 3rem !important;
  margin-right: 2rem !important;
  padding: 10px !important;

  max-width: 25rem !important;
  min-width: 18rem !important;
  max-height: 15rem !important;
  min-height: 15rem !important;
  border: none !important;
  border-radius: 10px !important;
  box-shadow: 0 3px 6px var(--secondary-text-color) !important;
  background-color: transparent !important;
}
.card-body {
  /* height: 14em; */
  font-family: var(--font-family) !important;
}
.card-body:hover {
  cursor: pointer;
  transition: all 0.5s ease !important;
  margin-top: -10px !important;
}

.card-title {
  font-size: 20px !important;
  font-family: var(--font-family) !important;
  font-weight: 600 !important;
  color: var(--text-color) !important;
  margin-bottom: 1em !important;
}

.card-title:hover {
  cursor: pointer !important;
  color: var(--color-subtext) !important;
}
.card-text {
  font-size: 17px !important;
  color: var(--secondary-text-color) !important;
}

.main__services hr {
  margin-top: 5rem;
}

/* Media Queries */
@media screen and (max-width: 1050px) {
  .main__services {
    margin-right: 2rem;
    margin-top: 5em;
  }
  .portfolio__services {
    margin-right: 2rem;
    flex-wrap: wrap;
  }
  .portfolio__services div {
    display: flex;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .portfolio__home {
    flex-direction: column-reverse;
  }
  .portfolio__home-content {
    margin: 0 0 3rem;
  }
  .portfolio__home-image img {
    margin: 2rem 25%;
    width: 50%;
    height: 50%;
  }
}
@media screen and (max-width: 650px) {
  .main__services h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .portfolio__home-content__details p {
    font-size: 16px;
    line-height: 24px;
  }
  .resume__btn button,
  .contact__me-btn input {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .ai__header h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .portfolio__home-content__details p {
    font-size: 14px;
    line-height: 24px;
  }
  .resume__btn button,
  .contact__me-btn input {
    font-size: 10px;
    line-height: 16px;
  }
}
