.main__services {
  margin-top: 3.5em;
  margin-right: 5rem;
}
.main__services h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 75px;
  letter-spacing: -0.04em;
  color: var(--text-color);
  text-align: center;
}
.card-group {
  margin-right: 0.5rem;
}
.card {
  margin-top: 3rem !important;
  margin-right: 2rem !important;
  padding: 10px !important;

  max-width: 30em !important;
  min-width: 18em !important;
  min-height: 15rem !important;

  border: none !important;
  border-radius: 10px !important;
  box-shadow: 0 3px 6px var(--secondary-text-color) !important;
  /* background-color: var(--color-bg) !important; */
  background: #172a45 !important;
}
.card-body {
  font-family: var(--font-family) !important;
}
.card-body:hover {
  cursor: pointer;
  transition: all 0.5s ease !important;
  margin-top: -10px !important;
}

.card-title {
  font-size: 20px !important;
  font-family: var(--font-family) !important;
  font-weight: 600 !important;
  color: var(--text-color) !important;
  margin-bottom: 1em !important;
  padding-top: 10px !important;
}

.card-title:hover {
  cursor: pointer !important;
  color: var(--color-subtext) !important;
}
.card-text {
  font-size: 17px !important;
  color: var(--text-color) !important;
  padding-bottom: 10px !important;
}

.main__services hr {
  margin-top: 6em;
  border: none;
  background: var(--gradient-bar);
  height: 0.15rem;
}

/* Media Queries */
@media screen and (max-width: 1050px) {
  .main__services {
    margin-right: 1rem;
    margin-top: 2em;
  }
}

@media screen and (max-width: 650px) {
  .main__services h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .card-group {
    margin-right: 1rem;
  }
  .card-title {
    font-size: 18px !important;
  }
  .card-text {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 490px) {
  .main__services h1 {
    font-size: 25px;
    line-height: 48px;
  }
  .card {
    margin-top: 1.5rem !important;
  }
  .card-title {
    font-size: 16px !important;
  }
  .card-text {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 335px) {
  .card {
    max-width: auto !important;
    max-height: fit-content !important;
    min-height: auto !important;
    min-width: auto !important;
  }
  .card-title {
    font-size: 15px !important;
  }
  .card-text {
    font-size: 12px !important;
  }
}
