.portfolio__projects {
  margin-top: 3rem;
  margin-right: 5rem;
}
.portfolio__projects-heading h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 75px;
  letter-spacing: -0.04em;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 1rem;
}

.portfolio__project-list,
.portfolio__project-list2,
.portfolio__project-list4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__project-list1,
.portfolio__project-list3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.portfolio__project-list__image {
  width: auto;
  height: auto;
  /* border: 2px solid tomato; */
}
.portfolio__project-list__image img {
  width: fit-content;
  height: auto;
  padding: 1em;
  width: 40vw;
  height: 50vh;
  opacity: 0.5;
}
.portfolio__project-list__details {
  /* border: 1px solid tomato; */
  margin-left: -3em;
  background: #172a45;
  border-radius: 8px;
  opacity: 1;
}
.portfolio__project-list__details1,
.portfolio__project-list__details3 {
  margin-right: -3em;
  background: #172a45;
  border-radius: 8px;
  opacity: 1;
  color: var(--text-color);
}
.portfolio__project-list__details .portfolio__project-description {
  opacity: 1;
  padding: 0.5em;
  /* color: #f9f9f9; */
  color: var(--text-color);
}

.portfolio__projects hr {
  margin-top: 3rem;
  border: none;
  background: var(--gradient-bar);
  height: 0.15rem;
}
