.portfolio__projects {
  margin-top: 3rem;
  margin-right: 5rem;
  font-family: var(--font-family);
  color: var(--text-color);
}
.portfolio__projects-heading h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 75px;
  letter-spacing: -0.04em;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 1rem;
}

.portfolio__project-list,
.portfolio__project-list2,
.portfolio__project-list4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__title {
  color: var(--color-subtext);
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  padding: 0.2em 0;
  letter-spacing: -0.04em;
}
.portfolio__project-list1,
.portfolio__project-list3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.portfolio__project-list__image {
  width: auto;
  height: auto;
}
.portfolio__project-list__image img {
  border-radius: 5px;
  width: fit-content;
  height: auto;
  padding: 0.5em;
  width: 40vw;
  height: 50vh;
  opacity: 0.5;
}

.portfolio__project-list__image img:hover {
  cursor: pointer;
  opacity: 1;
}
.portfolio__project-list__details {
  margin-left: -3em;
  border-radius: 8px;
  background-color: #172a45;
  z-index: 1;
}
.portfolio__project-list__details1,
.portfolio__project-list__details3 {
  margin-right: -3em;
  background: #172a45;
  border-radius: 8px;
  color: var(--text-color);
  z-index: 1;
}

.portfolio__project-list__details p,
.portfolio__project-list__details1 p,
.portfolio__project-list__details3 p {
  color: var(--text-color);
  padding: 0 1em;
}

.portfolio__project-list__details p span,
.portfolio__project-list__details1 p span,
.portfolio__project-list__details3 p span {
  font-weight: 600;
}

.project__list-links {
  display: inline-block;
  padding: 0 0.4rem;
}
.project__list-links a {
  padding: 0 0.5em;
}
.portfolio__projects hr {
  margin-top: 3rem;
  border: none;
  background: var(--gradient-bar);
  height: 0.15rem;
}

/* Media queries */
@media screen and (max-width: 1050px) {
  .portfolio__projects {
    margin-top: 2rem;
    margin-right: 1em;
  }
}
@media screen and (max-width: 992px) {
  .portfolio__project-list,
  .portfolio__project-list2,
  .portfolio__project-list4,
  .portfolio__project-list1,
  .portfolio__project-list3 {
    margin: 1rem 0;
  }
  .portfolio__project-list__details p,
  .portfolio__project-list__details1 p,
  .portfolio__project-list__details3 p {
    line-height: 24px;
    font-size: 16px;
  }
  .portfolio__project-list__image img {
    height: auto;
  }
}
@media screen and (max-width: 780px) {
  .portfolio__projects-heading h1 {
    font-size: 40px;
    line-height: 70px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .portfolio__project-list,
  .portfolio__project-list2,
  .portfolio__project-list4,
  .portfolio__project-list1,
  .portfolio__project-list3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
  }
  .portfolio__project-list__image img {
    width: 100%;
    height: auto;
  }
  .portfolio__project-list__details,
  .portfolio__project-list__details1,
  .portfolio__project-list__details3 {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
@media screen and (max-width: 650px) {
  .portfolio__projects-heading h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .project__title {
    font-size: 18px;
  }
}
@media screen and (max-width: 490px) {
  .portfolio__projects-heading h1 {
    font-size: 25px;
    line-height: 48px;
  }
  .project__title {
    font-size: 16px;
  }
  .portfolio__project-list__details p,
  .portfolio__project-list__details1 p,
  .portfolio__project-list__details3 p {
    line-height: 20px;
    font-size: 12px;
  }
}
