section {
  margin-right: 5rem;
  padding: 1.5em 0;
  font-family: var(--font-family);
  color: var(--text-color);
}
section .contact__me-heading {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 75px;
  letter-spacing: -0.04em;
  text-align: center;
  margin-bottom: 1rem;
}
.contact__me-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contact__me-form,
.contact__me-info {
  padding: 4em 0;
  width: 48%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 6px var(--secondary-text-color);
}
.contact__me-info {
  padding: 1rem 1rem;
}
.contact__me-info h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2rem;
}
.contact__me-info p {
  font-size: 18px;
}
.contact__me-info p span {
  font-weight: 600;
}
.contact__me-socials {
  max-width: 45%;
  margin-top: 2rem;
}
.contact__me-socials p {
  opacity: 0.8;
  font-weight: 600;
}

.contact__me-form form {
  margin-top: -3rem;
}

.contact__me-form label,
.contact__me-form input,
.contact__me-form textarea {
  color: var(--text-color);
  background-color: var(--color-bg);
  letter-spacing: -0.04em;
  display: block;
  margin: 0.5em 0;

  margin-left: 2rem;
}

.contact__me-form label {
  font-weight: 600;
  font-size: 18px;
}
.contact__me-form input,
.contact__me-form textarea {
  border: 1px solid var(--color-subtext);
  border-radius: 6px;
  width: 85%;
  font-size: 12px;
}
.contact__me-form input[type="text"],
.contact__me-form input[type="email"] {
  padding: 0.6em 0;
}
.contact__me-form input[type="submit"] {
  padding: 0.4em 0;
  outline: 1.5px solid var(--color-subtext);
  font-weight: 600;
}
.form__btn:hover {
  cursor: pointer;
  background-color: var(--color-subtext);
  color: var(--bg-color);
}
.contact__me-form textarea {
  font-size: 12px;
  min-height: 150px;
  margin-bottom: 1em;
  overflow: auto;
}
.contact__me-form input[type="text"]:focus,
.contact__me-form input[type="email"]:focus,
.contact__me-form textarea[type="text"]:focus {
  outline: 2px solid var(--color-subtext);
}

section hr {
  margin-top: 3rem;
  border: none;
  background: var(--gradient-bar);
  height: 0.15rem;
}

/* Media Queries */
@media screen and (max-width: 992px) {
  section {
    margin-right: 1rem;
  }
  section .contact__me-heading {
    font-size: 40px;
    line-height: 70px;
  }
  .contact__me-details {
    flex-direction: column;
  }
  .contact__me-socials {
    max-width: 30%;
    width: auto;
  }
  .contact__me-form,
  .contact__me-info {
    width: 100%;
    margin-top: 1.4em;
  }
  .contact__me-form label,
  .contact__me-form input,
  .contact__me-form textarea {
    margin-left: 1em;
  }
}
@media screen and (max-width: 650px) {
  section .contact__me-heading {
    font-size: 30px;
    line-height: 40px;
  }
  .contact__me-info h5 {
    font-size: 18px;
    margin-bottom: 1em;
  }
  .contact__me-info p {
    font-size: 14px;
  }
  .contact__me-form label {
    font-size: 14px;
  }
}
@media screen and (max-width: 490px) {
  .contact__me-info {
    padding: 0.5em 0.5em;
  }
  .contact_me-socials {
    margin: 1rem 0;
  }
}
