.portfolio__skills {
  margin-right: 5rem;
  margin-top: 5rem;
}
.portfolio__skills h1 {
  font-weight: 700;
  font-family: var(--font-family);
  color: var(--text-color);
  text-align: right;
  margin-right: 5rem;
  margin-bottom: 2rem;
}
.skills__container {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family);
  color: var(--text-color);
}
.development__skills,
.design__skills {
  position: relative;
  width: 100%;
  margin: 0 15px;
  padding: 10px 20px;
}

.title__text {
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.skills__container .portfolio__skills-box {
  width: 100%;
  margin: 25px 0;
}
.portfolio__skills-box .title {
  display: block;
  font-size: 16px;
}
.portfolio__skills-bar {
  height: 0.6rem;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  transform: skew(30deg);
}

.portfolio__skills-box .skills__percentage {
  position: relative;
  display: block;
  height: 100%;
  background-color: var(--color-subtext);
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}
.skills__percentage.frontend {
  width: 85%;
  animation-delay: 0.1s;
}
.skills__percentage.backend {
  width: 90%;
  animation-delay: 0.2s;
}
.skills__percentage.react {
  width: 85%;
  animation-delay: 0.3s;
}
.skills__percentage.ror {
  width: 85%;
  animation-delay: 0.4s;
}
.skills__percentage.db {
  width: 93%;
  animation-delay: 0.5s;
}
.skills__percentage.typescript {
  width: 60%;
  animation-delay: 0.6s;
}

.skills__percentage.figma {
  width: 70%;
  animation-delay: 0.1s;
}
.skills__percentage.design {
  width: 80%;
  animation-delay: 0.2s;
}

.skills__percentage .skills__tooltip {
  position: absolute;
  right: -14px;
  top: -32px;
  font-size: 9px;
  font-weight: 500;
  color: var(--bg-color);
  padding: 2px 6px;
  border-radius: 3px;
  background: var(--color-subtext);
  z-index: 1;
}
.skills__tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background: var(--color-subtext);
  transform: translateX(-50%) rotate(45deg);
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* Media Queries */
@media screen and (max-width: 780px) {
  .portfolio__skills {
    margin-right: 2rem;
  }
  .skills__container {
    flex-direction: column;
  }
  .portfolio__skills-box .title {
    font-size: 12px;
  }
}
@media screen and (max-width: 490px) {
  .portfolio__skills-bar {
    height: 0.3rem;
  }

  .skills__percentage .skills__tooltip {
    right: -20px;
    top: -30px;
  }
  .portfolio__skills-box .title {
    font-size: 10px;
  }
}
