.portfolio__about {
  margin-top: 5rem;
  margin-right: 5rem;
}
.about__content {
  display: flex;
}
.portfolio__about-image img {
  width: 516px;
  height: 516px;
  opacity: 0.5;
}

.portfolio__about-image img:hover {
  cursor: pointer;
  opacity: 1;
}
.portfolio__about-header h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 75px;
  letter-spacing: -0.04em;
  color: var(--text-color);
  text-align: right;
  margin-right: 5rem;
}
.portfolio__about-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  font-size: 18px;
  font-family: var(--font-family);
  color: var(--text-color);
}
.portfolio__about-content ul li {
  margin-top: 0.5em;
}
.portfolio__about-content ul li::marker {
  content: "\2713";
  color: var(--color-subtext);
  font-weight: 800;
  margin-right: 20px;
}
.portfolio__about-content ul li span {
  color: var(--text-color);
  font-weight: 800;
}
.portfolio__about-content button {
  font-family: var(--font-family);
  background: transparent;
  font-size: 20px;
  font-weight: 600;
  margin-right: 2rem;
  min-height: 3rem;
  line-height: 27px;

  border: 1px solid var(--color-subtext);
  border-radius: 5px;
  box-shadow: 0 3px 6px var(--secondary-text-color);
  outline: none;
}
.portfolio__about-content button a {
  color: var(--text-color);
  text-decoration: none;
  padding: 4px;
}
.portfolio__about-content button:hover,
.portfolio__about-content button a:hover {
  color: #fff;
  background: var(--color-subtext);
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}

.portfolio__about hr {
  margin-top: 3rem;
  border: none;
  background: var(--gradient-bar);
  height: 0.15em;
}

/* Media queries */
@media screen and (max-width: 1050px) {
  .portfolio__about {
    margin-right: 2rem;
    margin-top: 2em;
  }
  .portfolio__about-content {
    margin-right: 2rem;
  }
}
@media screen and (max-width: 992px) {
  .about__content {
    flex-direction: column;
    margin: 0 0 3rem;
  }
  .portfolio__about-image img {
    margin: 2rem 10%;
    width: 80%;
    height: 80%;
  }
}
@media screen and (max-width: 650px) {
  .portfolio__about-header h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .portfolio__about-content p,
  .portfolio__about-content ul li {
    font-size: 16px;
    line-height: 24px;
  }
  .portfolio__about-content button {
    font-size: 16px;
    line-height: 24px;
  }
  .portfolio__about-content ul li {
    margin-top: 0.2em;
  }
}

@media screen and (max-width: 490px) {
  .portfolio__about-header h1 {
    font-size: 25px;
    line-height: 48px;
  }
  .portfolio__about-content p,
  .portfolio__about-content ul li {
    font-size: 14px;
    line-height: 24px;
  }
  .portfolio__about-content button {
    font-size: 10px;
    line-height: 16px;
  }
}
