.portfolio__about {
  margin-top: 5rem;
  margin-right: 5rem;
}
.about__content {
  display: flex;
  flex-flow: row wrap;
}
.portfolio__about-image img {
  width: 516px;
  height: 516px;
}
.portfolio__about-header h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 75px;
  letter-spacing: -0.04em;
  color: var(--text-color);
  text-align: right;
  margin-right: 5rem;
}
.portfolio__about-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  font-size: 18px;
  font-family: var(--font-family);
  color: var(--secondary-text-color);
}
.portfolio__about-content ul li {
  margin-top: 0.5em;
}
.portfolio__about-content ul li::marker {
  content: "\2713";
  color: var(--color-subtext);
  font-weight: 800;
  margin-right: 20px;
}
.portfolio__about-content ul li span {
  color: var(--text-color);
  font-weight: 800;
}
.portfolio__about-content button {
  font-family: var(--font-family);
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 20px;
  font-weight: 600;
  margin-right: 2rem;
  min-height: 3rem;
  line-height: 27px;

  border: 2px solid var(--color-subtext);
  border-radius: 5px;
  box-shadow: 0 3px 6px var(--secondary-text-color);
  outline: none;
}
.portfolio__about-content button:hover {
  color: var(--bg-color);
  text-decoration: none;
  background: var(--color-subtext);
  box-shadow: 3px 5px 10px var(--text-color);
  cursor: pointer;
  transition: all 0.5s ease;
}
