.navbar {
  height: auto;
  min-height: 80px;
}
.brand,
.list-item {
  color: var(--text-color) !important;
  font-size: 20px;
}
.list-item {
  display: flex !important;
  justify-content: space-around !important;
  font-weight: 500;
}
.list-item:hover {
  color: var(--color-subtext) !important;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 2px;
}
.brand {
  font-family: "Alkatra", cursive;
}
.brand:hover {
  color: var(--color-subtext) !important;
}
