.navbar {
  height: auto !important;
  /* max-height: 80px; */
  background: var(--color-bg);
  box-shadow: 0 1px 2px var(--secondary-text-color);
}

.list-item {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color) !important;
  display: flex !important;
  justify-content: space-around !important;
}
.list-item:hover {
  color: var(--color-subtext) !important;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 2px;
}
.brand:hover {
  color: var(--color-subtext) !important;
}

.navbar__toggler {
  margin-right: 0.2em;
}
