.socials__container {
  display: flex;
  margin-top: 1.2rem;
  flex-wrap: wrap;
}
.socials__container div {
  margin-right: 1rem;
}
.socials__container div:hover {
  cursor: pointer;
  transform: translateY(10%);
  transition: transform 0.5s, opacity 0.5s;
}
.socials__github,
.socials__linkedin,
.socials__gmail,
.socials__twitter {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 3px 6px var(--secondary-text-color);
}
.react-icons {
  vertical-align: middle;
}

/* Media queries */
@media screen and (max-width: 490px) {
  .socials__github,
  .socials__linkedin,
  .socials__gmail,
  .socials__twitter {
    padding: 0.8em;
    margin-top: 0.8rem;
    border-radius: 5px;
    box-shadow: 0 3px 6px var(--secondary-text-color);
  }
}
