.socials__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.2rem;
}
.socials__container div {
  margin-right: 1.5rem;
  padding: 1.5rem;
}
.socials__container div:hover {
  cursor: pointer;
  opacity: 1;
  transform: translateY(10%);
  transition: transform 0.5s, opacity 0.5s;
}
.socials__github,
.socials__linkedin,
.socials__gmail,
.socials__twitter {
  border-radius: 5px;
  box-shadow: 0 3px 6px var(--secondary-text-color);
}
.react-icons {
  vertical-align: middle;
}

.socials__github a:hover,
.socials__linkedin a:hover,
.socials__gmail a:hover,
.socials__twitter a:hover {
  cursor: pointer;
}
