.portfolio__footer {
  font-family: var(--font-family);
}
.portfolio__brand {
  font-family: "Alkatra";
  font-size: 22px;
  text-align: center;
}

.footer__copyright p {
  text-align: center;
  margin-top: -2em;
  font-size: 16px;
  line-height: 20px;
}
.footer__copyright span a {
  text-decoration: none;
  color: var(--color-subtext);
  font-family: "Alkatra";
}
.footer__copyright span a:hover {
  cursor: pointer;
  color: var(--bg-color);
}

@media screen and (max-width: 650px) {
  .footer__copyright p {
    font-size: 14px;
  }
}
@media screen and (max-width: 540px) {
  .footer__copyright p {
    font-size: 10px;
    line-height: 15px;
    margin-top: -3em;
  }
}
