.portfolio__footer {
  font-family: var(--font-family);
  color: var(--text-color);
  margin: 3rem 0;
  margin-right: 5rem;
  padding: 2rem 2rem;
}
.main__footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 70%;
}
.portfolio__brand h5 {
  font-family: "Alkatra";
  font-size: 22px;
}
.footer__links h5,
.footer__socials h5 {
  text-align: center;
  font-weight: 600;
}
.footer__links ul,
.footer__socials ul {
  list-style-type: none;
  margin-top: 1em;
}
.footer__links ul li,
.footer__socials ul li {
  margin: 0.8em 0.8em 0 0;
  color: var(--text-color);
  font-weight: 500;
}
.footer__links ul li a,
.footer__socials ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  letter-spacing: -0.04em;
}
.footer__links ul li a:hover,
.footer__socials ul li a:hover {
  cursor: pointer;
  color: var(--color-subtext);
}

.footer__copyright p {
  text-align: center;
  margin-top: 1em;
  font-size: 16px;
  line-height: 20px;
}
.footer__copyright span a {
  text-decoration: none;
  color: var(--text-color);
  font-family: "Alkatra";
}
.footer__copyright span a:hover {
  cursor: pointer;
  color: var(--color-subtext);
}

@media screen and (max-width: 1020px) {
  .portfolio__footer {
    margin-right: 2rem;
  }
  .portfolio__brand h5 {
    font-size: 15px;
  }
  .main__footer {
    flex-wrap: wrap;
    width: 100%;
  }
  .footer__links h5,
  .footer__socials h5 {
    font-size: 20px;
  }
}
@media screen and (max-width: 650px) {
  .footer__links h5,
  .footer__socials h5 {
    font-size: 15px;
  }
  .portfolio__brand h5 {
    font-size: 12px;
  }
  .footer__links ul li a,
  .footer__socials ul li a {
    font-size: 12px;
  }
  .footer__copyright p {
    font-size: 14px;
  }
}
@media screen and (max-width: 540px) {
  .main__footer {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  .portfolio__brand,
  .footer__links,
  .footer__socials {
    margin-top: 1rem;
  }
  .footer__links h5,
  .footer__socials h5 {
    text-align: left;
  }
  .footer__links ul li,
  .footer__socials ul li {
    text-align: left;
  }
  .footer__copyright p {
    font-size: 10px;
  }
}
