.navbar {
  /* background: #2e158c; */
  height: auto;
  margin-top: 1.5rem;
}
.brand,
.list-item {
  color: black !important;
}
.list-item {
  display: flex !important;
  justify-content: space-around !important;
  font-weight: 500;
}
.list-item:hover {
  color: tomato !important;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.brand {
  font-family: "Alkatra", cursive;
}
.brand:hover {
  color: tomato !important;
}
