.portfolio__home {
  display: flex;
  margin-right: 5rem;
  margin-top: 10rem;
}
.portfolio__home-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 7rem;

  font-family: var(--font-family);
  color: var(--secondary-text-color);
  font-size: 18px;
}

.portfolio__header h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  color: var(--text-color);
}
.portfolio__header h1 span {
  color: var(--color-subtext);
  font-weight: 800;
  font-size: 62px;
}

.portfolio__home-content__details p {
  font-family: var(--font-family);
  margin-top: 1.5rem;
  line-height: 27px;
}
.portfolio__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;

  margin: 1.2rem 0;
}
.portfolio__buttons a {
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
}

.resume__btn button {
  font-family: var(--font-family);
  background: transparent;
  font-size: 20px;
  font-weight: 600;
  margin-right: 2rem;
  min-height: 3rem;
  line-height: 27px;

  border: 2px solid var(--color-subtext);
  border-radius: 5px;
  box-shadow: 0 3px 6px var(--secondary-text-color);
  outline: none;
}
.contact__me-btn input {
  color: var(--text-color);
  background: transparent;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-family);
  min-height: 3rem;
  line-height: 27px;

  border-radius: 5px;
  border: 2px solid var(--color-subtext);
  outline: none;
  box-shadow: 0 3px 6px var(--secondary-text-color);
}

.resume__btn button:hover,
.contact__me-btn input:hover {
  color: var(--bg-color);
  text-decoration: none;
  background: var(--color-subtext);
  box-shadow: 3px 5px 10px var(--text-color);
  cursor: pointer;
  transition: all 0.5s ease;
  transform: scale(1.1);
}
.resume__btn a:hover {
  color: var(--bg-color);
}
.portfolio__home-image img {
  width: 516px;
  height: 516px;
  border-radius: 50%;
}

/* Media queries */
@media screen and (max-width: 1050px) {
  .portfolio__home {
    margin-right: 2rem;
    margin-top: 5em;
  }
  .portfolio__home-content {
    margin-right: 2rem;
  }
}
@media screen and (max-width: 992px) {
  .portfolio__home {
    flex-direction: column-reverse;
  }
  .portfolio__home-content {
    margin: 0 0 3rem;
  }
  .portfolio__home-image img {
    margin: 2rem 25%;
    width: 50%;
    height: 50%;
  }
}
@media screen and (max-width: 650px) {
  .portfolio__header h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .portfolio__header h1 span {
    font-size: 44px;
    line-height: 60px;
  }
  .portfolio__home-content__details p {
    font-size: 16px;
    line-height: 24px;
  }
  .resume__btn button,
  .contact__me-btn input {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .portfolio__header h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .portfolio__header h1 span {
    font-size: 34px;
    line-height: 40px;
  }
  .portfolio__home-content__details p {
    font-size: 14px;
    line-height: 24px;
  }
  .resume__btn button,
  .contact__me-btn input {
    font-size: 10px;
    line-height: 16px;
  }
}
